[Unit]
Description=TLS Docker VPN kill switch
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/nft delete table inet tls_killswitch
ExecStart=/usr/sbin/nft -f /etc/nftables-tls.conf
ExecReload=/usr/sbin/nft delete table inet tls_killswitch
ExecReload=/usr/sbin/nft -f /etc/nftables-tls.conf
ExecStop=/usr/sbin/nft delete table inet tls_killswitch

[Install]
WantedBy=multi-user.target
